.control-panel {
    margin: 0 15% 0 15%;
    border: 1px solid #BBBBCC;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    position: fixed;
    z-index: 5;
    bottom: 20px;
    width: 70%;
    background-color: #dddddd;
}
.Select-menu-outer {
    top: auto;
    bottom: 100%;
    border-top: 1px solid #aaa;
}

.control-item {
    margin: 0 20px 0 0;
    float: left;
    vertical-align: top;
}

.control-button {
    float: left;
    padding-top: 24px;
}

.control-item-input {
    margin: 0 20px 0 0;
    float: left;
}