.control-panel {
    margin: 0 15% 0 15%;
    border: 1px solid #BBBBCC;
    border-radius: 7px;
    padding: 10px;
    display: flex;
}

.control-item {
    margin: 0 20px 0 0;
    float: left;
}

.control-button {
    float: left;
    padding-top: 24px;
}

.control-item-input {
    margin: 0 20px 0 0;
    float: left;
}